/* CSS Document */

@charset "UTF-8";
.main_f8 {
	background: #f8f8f8;
	height: 640px;
	width: 100%;
	overflow: hidden
}

.content {
	width: 1200px;
	margin: 0px auto;
}

.main_fff {
	background: #fff;
	width: 100%;
	overflow: hidden
}

.title1,
.title3 {
	color: #888;
	text-align: center;
}

.title1 {
	margin: 60px 0 10px 0;
}

.title2 {
	font-size: 28px;
	color: #424242;
	text-align: center;
	padding-bottom: 20px;
}

.tline {
	width: 65px;
	height: 1px;
	font-size: 1px;
	border-bottom: 1px solid #999;
	margin: 0 auto
}

.title3 {
	margin: 40px 0 60px 0;
}

.mdlist {
	height: 272px;
	margin: 10px auto 0;
	width: 1200px;
}

.mditem {
	background: #fff;
	border-right: 1px solid #eee;
	float: left;
	height: 270px;
	transition: all 0.8s ease 0s;
	width: 199px;
}

.md0 {
	height: 68px;
	transform: matrix(1, 0, 0, 1, -199, 0);
	transition: all 0.8s ease 0s;
	width: 398px;
}

.md1 {
	height: 91px;
	transition: all 0.8s ease 0s;
	width: 398px;
}

.md2 {
	transform: matrix(1, 0, 0, 1, 0, 0);
	transition: all 0.8s ease 0s;
	width: 398px;
}

.mditem:hover {
	background: #F8BB01;
	float: left;
	transition: color 0.8s ease 0s;
}

.mditem:hover .md0 {
	transform: matrix(1, 0, 0, 1, 0, 0);
	transition: all 0.8s ease 0s;
}

.mditem:hover .md1 {
	transform: matrix(1, 0, 0, 1, -199, 0);
	transition: all 0.8s ease 0s;
}

.mditem:hover .md2 {
	transform: matrix(1, 0, 0, 1, -179, 0);
	transition: all 0.8s ease 0s;
}

.mditem .mdimg1,
.mditem .mdimg1a,
.mditem .mdimg2,
.mditem .mdimg2a,
.mditem .mdimg3,
.mditem .mdimg3a,
.mditem .mdimg4,
.mditem .mdimg4a,
.mditem .mdimg5a,
.mditem .mdimg6,
.mditem .mdimg6a {
	float: left;
	height: 91px;
	width: 199px;
}

.mditem .mdimg1 {
	background: url(../images/index_icon11.png) no-repeat scroll center center;
}

.mditem .mdimg2 {
	background: url(../images/index_icon22.png) no-repeat scroll center center;
}

.mditem .mdimg3 {
	background: url(../images/index_icon33.png) no-repeat scroll center center;
}

.mditem .mdimg4 {
	background: url(../images/index_icon44.png) no-repeat scroll center center;
}

.mditem .mdimg5 {
	background: url(../images/index_icon55.png) no-repeat scroll center center;
	float: left;
	height: 91px;
	width: 199px;
}

.mditem .mdimg6 {
	background: url(../images/index_icon66.png) no-repeat scroll center center;
}

.mditem .mdimg1a {
	background: url(../images/index_icon01.png) no-repeat scroll center center;
}

.mditem .mdimg2a {
	background: url(../images/index_icon02.png) no-repeat scroll center center;
}

.mditem .mdimg3a {
	background: url(../images/index_icon03.png) no-repeat scroll center center;
}

.mditem .mdimg4a {
	background: url(../images/index_icon04.png) no-repeat scroll center center;
}

.mditem .mdimg5a {
	background: url(../images/index_icon05.png) no-repeat scroll center center;
}

.mditem .mdimg6a {
	background: url(../images/index_icon06.png) no-repeat scroll center center;
}

.mditem .mcon,
.mditem .mcona {
	float: left;
	font-size: 14px;
	line-height: 1.5em;
	margin: 10px auto 10px 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: all 0.8s ease 0s;
	width: 160px;
}

.mditem .mcon .btn {
	display: block;
	float: left;
	width: 80px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	border-radius: 25px;
	background: #c6c6c6;
	margin: 25px 0 0 40px;
	transition: all 0.8s ease 0s;
}

.mditem .mcona {
	color: #fff;
}

.mditem:hover .mdit,
.mditem:hover .mdimg1,
.mditem:hover .mdimg2,
.mditem:hover .mdimg3,
.mditem:hover .mcon,
.mditem:hover .mdimg4,
.mditem:hover .mdimg5,
.mditem:hover .mdimg6 {
	display: none\9\0
}

.md0,
.mditem:hover .md0 {
	transition: all 0.8s ease 0s;
}

.md0,
.mditem:hover .md0 .mdita,
.md0,
.mditem:hover .md0 .mdit {
	color: #fff;
}

.mditem .md0 .mdit,
.mditem .md0 .mdita {
	float: left;
	font-size: 16px;
	height: 68px;
	line-height: 66px;
	text-align: center;
	width: 198px;
}

.mditem .md0 .mdit {
	color: #666;
	transition: color 0.8s ease 0s;
}

.mditem .md0 .mdita {
	color: #666;
	transition: color 0.8s ease 0s;
}

.mditem .btn {
	background: #c7c6c6 none repeat scroll 0 0;
	border-radius: 15px;
	color: #fff;
	display: block;
	font-size: 13px;
	height: 24px;
	line-height: 24px;
	margin: 0 auto;
	text-align: center;
	transition: background 0.5s ease 0s;
	width: 80px;
}

.main_f8,
.main_fff,
.mditem {
	overflow: hidden;
}

.product {
	position: relative;
	float: left;
	height: auto;
	overflow: hidden;
	width: 50%;
}

.product img {
	height: auto;
	transition: all 2s ease 0s;
	width: 100%;
}

.product:hover img {
	transform: matrix(1.2, 0, 0, 1.2, 0, 0);
	transition: all 2s ease 0s;
}

.product1t1 {
	width: 200px;
	text-align: center;
	font-size: 20px;
	margin-bottom: 5px;
}

.product1t3 {
	color: #596273;
}

.product1t2 {
	width: 200px;
	text-align: center;
}

.product_btn1,
.product_btn2 {
	position: absolute;
	bottom: 33px;
	border: 1px solid #fff;
	border-radius: 16px;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	text-align: center;
	width: 135px;
}

.product_btn1 {
	right: 52px;
}

.product_btn3 {
	border: 1px solid #596273;
}

.product_btn3 a {
	color: #596273 !important;
}

.product_btn2 {
	left: 52px;
}

.product_btn1 a,
.product_btn2 a {
	display: block;
	color: #fff;
}

.product_text1 {
	color: #fff;
	position: absolute;
	top: 72px;
	right: 48px;
	width: 200px;
	text-align: center;
	z-index: 100;
}

.product_text2 {
	color: #fff;
	position: absolute;
	top: 72px;
	left: 48px;
	width: 140px;
	text-align: center;
	z-index: 100;
}

.service_bg {
	width: 100%;
	height: 724px;
	background: url(../images/service_bg.jpg) center center no-repeat;
}

.service_con {
	width: 1200px;
	height: 724px;
	margin: 0 auto;
	position: relative
}

.service_icon1,
.service_icon2,
.service_icon3,
.service_icon4,
.service_icon5,
.service_icon6 {
	width: 200px;
	height: 150px;
	position: absolute;
	padding-top: 125px;
	text-align: center;
	color: #fff;
	transition: all 0.5s ease 0s;
}

.service_icon1 {
	top: 221px;
	background: url(../images/ys_icon2.png)  center 0 no-repeat;
}

.service_icon2 {
	top: 142px;
	left: 507px;
	background: url(../images/ys_icon1.png)  center 0 no-repeat
}

.service_icon3 {
	top: 221px;
	right: 0;
	background: url(../images/ys_icon3.png)  center 0 no-repeat
}

.service_icon4 {
	top: 416px;
	left: 300px;
	background: url(../images/ys_icon4.png) center 0 no-repeat
}

.service_icon5 {
	top: 416px;
	left: 700px;
	background: url(../images/ys_icon5.png) center 0 no-repeat
}

.service_icon1:hover,
.service_icon2:hover,
.service_icon3:hover,
.service_icon4:hover,
.service_icon5:hover,
.service_icon6:hover {
	transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	/* IE 9 */
	-moz-transform: translateY(-10px);
	/* Firefox */
	-webkit-transform: translateY(-10px);
	/* Safari 和 Chrome */
	-o-transform: translateY(-10px);
}
.news_main{
	width: 1200px;
	margin: 0 auto;
}
.news_main ul{
}
.news_main li{
	width:380px;
	height: 380px;
	float: left;
	margin-right:30px;
	color: #6A6E74;
	
}
.news_main li:last-child{
	margin-right: 0px !important;
}
.news_bt{
	font-size: 16px;
	line-height:3em ;
	font-weight: 600;
}
.news_bt a:link,.news_bt a:visited{
	color: #4B4B4B;
}
.news_bt a:hover{
	color: #F8BB01;
}
.news_text{
	width: 380px;
	line-height: 1.8em;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.block{display: block;}

.on{
	color: #fcbe0f !important;
}
